*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 62.5%;
}

body{
  background: #1E1E1E;
}

body, input, button{
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 42rem;
  margin: auto;
  background: #121829;
}

